body{
    background-image: url(bg.webp);
    margin: 0;
    height: 110vh;
 
}
header{
       
       padding: 20px;
       color: aliceblue;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
       position: sticky;
       top: 20px;
       background-color: rgba(0, 0, 0, 0.406);
}

.logoBox{
    
    display: inline-block;
    width: 160px;
    font-size: larger;
    cursor: pointer;
}

.navBox{
    
    display: inline-block;
    width: 600px;
    position: absolute;
    right: 20px;
}
.navBox>a{
    color: aliceblue;
    margin: 20px;
    text-decoration: none;
    
}
.navBox>a:hover{
    color: salmon;
    transition: all 0.5s;
}
#home{
    color: salmon;
}
.heading{
    line-height: 60px;
    color:salmon;
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 60px;
    
    left: 70px;
    width: 500px;
}
.heading+h3{
    top:10px;
    color:whitesmoke;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: 74px;
    width: 700px;
}
.heading+h3+p{
    color: rgb(162, 156, 156);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    word-spacing: 3px;
    font-style: italic;
    left: 80px;
    width: 400px;
    
}
.btn{
    width: 120px;
    padding:14px;
    top: 10px;
    border: 1px solid salmon;
    background-color: salmon;
    border-radius: 10px;
    color:black;
    cursor: pointer;
    position: relative;
    left: 80px;
    font-weight: 800px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    transition: all 0.5s;
}
footer{
    color: white;
    position: fixed;
    bottom: 0;
    display: block;
    width: 100%;
    
    padding: 10px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.406);
}
#child{
    display: inline-block;
}